---
import type { CollectionEntry } from "astro:content";
export interface Props {
  entry: CollectionEntry<"blog">;
}

import { Image } from "astro:assets";
import "@styles/katex/katex.min.css";
import BlogTags from "@components/BlogTags.astro";
import BaseLayout from "@layouts/Base.astro";
import { getCollection } from "astro:content";

// Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: {
      slug: entry.data.title
        .toLowerCase()
        .replaceAll(" ", "-")
        .replaceAll(",", "")
        .replaceAll("'", ""),
    },
    props: { entry },
  }));
}

const make_href = (tag: string) =>
  `/tags/${tag.toLowerCase().replaceAll(" ", "_")}`;

const { entry } = Astro.props;
const { Content, headings, remarkPluginFrontmatter } = await entry.render();

const find_headings_of_depth = (depth: number) =>
  headings
    .map((value, idx) =>
      value.depth === depth ? { ...value, idx: idx } : { ...value, idx: -1 },
    )
    .filter((value) => value.idx >= 0);

const twos = find_headings_of_depth(2);
const threes = find_headings_of_depth(3);

const nested_headings = twos.map((two, idx) => {
  const next_two = twos[idx + 1];
  // This is the last heading
  if (next_two === undefined) {
    return { ...two, nested: [] };
  }
  const nested = threes.filter(
    (three) => three.idx > two.idx && three.idx < next_two.idx,
  );
  return { ...two, nested };
});
---

<BaseLayout
  title={entry.data.title}
  keywords={entry.data.tags}
  description={entry.data.description ?? ""}
>
  {
    !entry.data.short && (
      <>
        <h1 class="text-2xl font-medium sm:text-3xl md:mb-4 md:text-4xl lg:text-5xl">
          {entry.data.title}
        </h1>
        {entry.data.subtitle && (
          <h2 class="mb-2 text-sm font-normal text-cprose-headings md:mb-4 md:text-lg lg:text-xl">
            {entry.data.subtitle}
          </h2>
        )}
        <BlogTags centered={false} tags={entry.data.tags} />
        {entry.data.cover && (
          <figure>
            <Image
              src={entry.data.cover}
              class="my-2 mx-auto rounded-lg shadow-lg"
              height="1080"
              format="avif"
              alt={entry.data.caption ?? "Blog Post Cover"}
            />
            {(entry.data.caption || entry.data.source) && (
              <figcaption class="italic mb-4 text-center text-cprose-captions text-lg">
                {entry.data.caption && `${entry.data.caption}.`}
                {entry.data.caption && entry.data.source && " "}
                {entry.data.source &&
                  !entry.data.sourceLink &&
                  `Source: ${entry.data.source}`}
                {entry.data.source && entry.data.sourceLink && (
                  <a
                    href={entry.data.sourceLink}
                  >{`Source: ${entry.data.source}`}</a>
                )}
              </figcaption>
            )}
          </figure>
        )}
        <div class="mb-6 flex justify-between text-sm text-cprose-body md:text-base lg:text-lg">
          <time datetime={entry.data.pubDate.toISOString()}>
            {entry.data.pubDate.toLocaleDateString("default", {
              year: "numeric",
              month: "long",
              day: "numeric",
              weekday: "short",
            })}
          </time>
          <span>{remarkPluginFrontmatter?.readTimeResults?.text}</span>
        </div>
        {!entry.data.short && entry.data.toc && (
          <nav class="bg-base-200 text-sm lg:text-lg mb-6 max-w-prose mx-auto rounded-lg px-6 py-4">
            <h2 class="mb-2 font-medium text-lg lg:text-xl">
              Table of Contents
            </h2>
            <ol
              class="mb-2 toc-ol ml-1 flex gap-1 marker:text-primary-content list-inside
      list-none flex-col"
            >
              {nested_headings.map((nested_heading) => (
                <li class="before:text-primary-content before:mr-1 toc-li">
                  <a href={`#${nested_heading.slug}`}>{nested_heading.text}</a>
                  {nested_heading.nested.length > 0 && (
                    <ol class="text-sm flex mt-1 flex-col gap-1 toc-ol lg:text-base ml-4 list-none">
                      {nested_heading.nested.map((subheading) => (
                        <li class="before:text-primary-content before:mr-1 toc-li">
                          <a href={`#${subheading.slug}`}>{subheading.text}</a>
                        </li>
                      ))}
                    </ol>
                  )}
                </li>
              ))}
            </ol>
          </nav>
        )}
      </>
    )
  }
  <div class="flex justify-center lg:gap-8 xl:gap-12">
    <article
      class={`${
        entry.data.short ? "" : "blog-article "
      }prose prose-sm mx-auto lg:prose-lg
      marker:text-primary-content prose-p:text-justify
      prose-a:underline-offset-8 hover:prose-a:decoration-4
      prose-blockquote:font-normal prose-figcaption:text-center
      prose-figcaption:italic prose-img:mx-auto prose-img:rounded-lg
      prose-img:border-2 lg:mx-0`}
    >
      {
        entry.data.short && (
          <>
            <h2 class="font-medium text-xl sm:text-2xl md:mb-2 md:text-3xl lg:text-4xl not-prose">
              {entry.data.title}
            </h2>
            {entry.data.subtitle && (
              <h3 class="mb-1 text-sm not-prose font-normal md:mb-2 md:text-lg lg:text-xl">
                {entry.data.subtitle}
              </h3>
            )}
            <nav class="flex flex-wrap gap-2 lg:gap-4">
              {entry.data.tags.map((tag) => (
                <a
                  href={make_href(tag)}
                  class="rounded-lg p-1 font-normal no-underline md:p-2 hover:bg-base-focus"
                >
                  <span class="text-primary-content">#</span>
                  <span class="text-base-content">{tag}</span>
                </a>
              ))}
            </nav>
            <div class="my-3 flex justify-between text-sm text-cprose-body md:text-base lg:text-lg">
              <time datetime={entry.data.pubDate.toISOString()}>
                {entry.data.pubDate.toLocaleDateString("default", {
                  year: "numeric",
                  month: "long",
                  day: "numeric",
                  weekday: "short",
                })}
              </time>
              <span>{remarkPluginFrontmatter?.readTimeResults?.text}</span>
            </div>
          </>
        )
      }
      <Content />
    </article>
  </div>
</BaseLayout>

<style>
  .toc-ol {
    counter-reset: item;
  }
  .toc-li:before {
    content: counters(item, ".") " ";
    counter-increment: item;
  }
</style>

<style is:global>
  .blog-article > .article-p {
    @apply first-of-type:first-letter:float-left
  first-of-type:first-letter:mr-2
  first-of-type:first-letter:text-6xl
  first-of-type:first-letter:font-black
  first-of-type:first-line:font-medium
  first-of-type:first-line:uppercase
  first-of-type:first-line:tracking-widest
  first-of-type:first-letter:md:mr-3
  first-of-type:first-letter:lg:mt-2
  first-of-type:first-letter:lg:text-7xl;
  }
</style>
