---
import type { CollectionEntry } from "astro:content";

export interface Props {
  tag: string;
  tagArr: string[];
  taggedPosts: CollectionEntry<"blog">[];
}

import { getCollection } from "astro:content";
import BlogTags from "@components/BlogTags.astro";
import BaseLayout from "@layouts/Base.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";

const { tag, tagArr, taggedPosts } = Astro.props;

export async function getStaticPaths() {
  const blogEntries = (
    await getCollection("blog", ({ data }) => {
      return data.draft !== true;
    })
  ).sort(
    (a, b) =>
      new Date(b.data.pubDate).valueOf() - new Date(a.data.pubDate).valueOf(),
  );

  const tagSet: Set<string> = new Set();
  for (const entry of blogEntries) {
    for (const tag of entry.data.tags) {
      if (!tagSet.has(tag)) {
        tagSet.add(tag);
      }
    }
  }

  const tagArr = [...tagSet];

  return tagArr.map((tag) => {
    const lower_tag = tag.toLowerCase().replaceAll(" ", "_");
    const taggedPosts = blogEntries.filter((entry) =>
      entry.data.tags.includes(tag),
    );
    return {
      params: { tag: lower_tag },
      props: { tag, tagArr, taggedPosts },
    };
  });
}
---

<BaseLayout title={tag}>
  <h1
    class="mb-2 text-center text-4xl font-black md:mb-4 md:text-left md:text-5xl lg:text-6xl"
  >
    {tag}
  </h1>
  <div class="grid gap-6 md:grid-flow-col-dense md:grid-cols-4">
    <div class="grid gap-6 md:col-span-3">
      {taggedPosts.map((entry) => <BlogPostPreview {entry} />)}
    </div>
    <div class="-order-1 md:-order-none">
      <div class="md:sticky md:top-4">
        <h2
          class="mb-2 hidden text-xl font-medium md:mb-4 md:block md:text-2xl"
        >
          Topics
        </h2>
        <BlogTags
          centered={true}
          tags={tagArr}
          currTag={tag}
          class="md:sticky md:top-12"
        />
      </div>
    </div>
  </div>
</BaseLayout>
