---
import { getCollection } from "astro:content";

import BaseLayout from "@layouts/Base.astro";

import BlogPostPreview from "@components/BlogPostPreview.astro";
import ButtonLink from "@components/ButtonLink.astro";

const num_previews = 3;

const blogEntries = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .slice(0, num_previews);
---

<BaseLayout title="About" mainClass="flex flex-col items-center gap-10">
  <section class="prose mx-auto lg:prose-lg xl:prose-xl">
    <h2>Who I Am</h2>
    <p>
      I'm currently a data and systems engineer working at
      <a class="hover:decoration-4" href="https://www.strataresearch.ca/">
        Strata Research
      </a>. I've worked on lots of bits and pieces but specialize in numerical
      programming and its various applications in industry. Previously, I've
      worked in an HPC lab in the University of Waterloo developing algorithms
      in parallel C++ code with Open MPI for fluid simulations.
    </p>
    <h2>About the Blog</h2>
    <p>
      I began working on this blog site at the start of 2022 as a way to channel
      my passion for teaching into a hobby project of mine. The topics are
      loosely centered around my technical interests: high performance computing
      (HPC), optimization methods, differential equations and more. Some
      examples of my previous work includes solving Navier-Stokes on a
      non-regular 3D grid, testing novel optimization methods in machine
      learning and Category theory.
    </p>
    <p>
      I'm also a passionate open-source advocate and contributor (you can
      actually find the source code for this website on <a
        class="hover:decoration-4"
        href="https://gitlab.com/kas-commits/personal-website">Gitlab</a
      >). Outside of technical interests, I'm also a big F1 fan
      (Ricciardo/McLaren all the way) and enjoy powerlifting.
    </p>
    <h2>How I Built This</h2>
    <p>
      This website was entirely built by yours truly. Stop it you, with your
      common sense; this isn't github pages, Hugo, 11ty or any other templating
      static site generator. Instead, I chose to use
      <a class="hover:decoration-4" href="https://astro.build/">Astro</a>
      as the framework base. The CSS and design are done with TailwindCSS and the
      CMS is an orchestra of Astro's content tools, MDX, remark & rehype plugins,
      <a class="hover:decoration-4" href="https://katex.org/">Katex</a>
      for the math equations and
      <a class="hover:decoration-4" href="https://fontsource.org/">Fontsource</a
      >
      for the fonts.
    </p>
    <p>
      As always, you can find the source code online through my
      <a
        class="hover:decoration-4"
        href="https://gitlab.com/kas-commits/personal-website">Gitlab</a
      >
      profile. If you have any comments or feedback feel free to open an issue on
      the repo or contact me through my socials below.
    </p>
    <h2>Latest Blog Posts</h2>
    <nav class="not-prose mb-6 grid gap-4 md:grid-cols-3">
      {blogEntries.map((entry) => <BlogPostPreview {entry} />)}
    </nav>
    <p class="not-prose text-right">
      <ButtonLink href="/">see all posts</ButtonLink>
    </p>
  </section>
</BaseLayout>
