---
import { getCollection } from "astro:content";
import BlogTags from "@components/BlogTags.astro";
import BaseLayout from "@layouts/Base.astro";
import BlogPostPreview from "@components/BlogPostPreview.astro";

const blogEntries = (
  await getCollection("blog", ({ data }) => {
    return data.draft !== true;
  })
).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const tagSet: Set<string> = new Set();
for (const entry of blogEntries) {
  for (const tag of entry.data.tags) {
    if (!tagSet.has(tag)) {
      tagSet.add(tag);
    }
  }
}

const tags = [...tagSet];
---

<BaseLayout title={import.meta.env.BLOG_TITLE}>
  <h1
    class="mb-2 text-center text-4xl font-black md:mb-4 md:text-left md:text-5xl lg:text-6xl"
  >
    Ramblings on Numerical Programming
  </h1>
  <div class="grid gap-6 md:grid-flow-col-dense md:grid-cols-4">
    <div class="grid gap-6 md:col-span-3">
      {blogEntries.map((entry) => <BlogPostPreview {entry} />)}
    </div>
    <div class="-order-1 md:-order-none">
      <div class="md:sticky md:top-4">
        <h2
          class="mb-2 hidden text-xl font-medium md:mb-4 md:block md:text-2xl"
        >
          Topics
        </h2>
        <BlogTags centered={true} tags={tags} />
      </div>
    </div>
  </div>
</BaseLayout>
