---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
export interface Props {
  entry: CollectionEntry<"blog">;
}
const { entry } = Astro.props;
const postType = entry.data.short ? "Short" : "Essay";
---

<div class="relative rounded-xl bg-base-accent shadow-md">
  {
    entry.data.cover && (
      <Image
        src={entry.data.cover}
        class="rounded-t-xl"
        format="avif"
        alt="Preview Image"
      />
    )
  }
  <h3 class="px-4 pt-4 text-xl font-bold">
    {entry.data.title}
  </h3>
  <time
    datetime={entry.data.pubDate.toISOString()}
    class="mt-2 px-4 text-primary-content"
  >
    {
      entry.data.pubDate.toLocaleDateString("default", {
        year: "numeric",
        month: "long",
        day: "numeric",
        weekday: "short",
      })
    }
  </time>
  <p class="mb-16 mt-2 px-4 italic line-clamp-4">
    {!entry.data.short && entry.data.description}
  </p>
  <a
    class="absolute bottom-0 mx-4 mb-4 mt-2 w-max select-none rounded-lg bg-primary-content px-4 py-2 text-xs uppercase leading-tight text-base-icontent transition-colors duration-150 ease-in-out hover:bg-primary-focus md:text-sm"
    href={`/posts/${entry.data.title
      .toLowerCase()
      .replaceAll(" ", "-")
      .replaceAll(",", "")
      .replaceAll("'", "")}`}>Read {postType}</a
  >
</div>
