---
export interface Props {
  centered?: boolean;
  tags: string[];
  class?: string;
  currTag?: string;
}

const { centered = true, tags, currTag = "" } = Astro.props;

const make_href = (tag: string) =>
  tag === currTag ? "/" : `/tags/${tag.toLowerCase().replaceAll(" ", "_")}`;
---

<nav
  class={"flex flex-wrap gap-2 lg:gap-4 text-sm md:text-lg" +
    (centered ? " justify-center" : "") +
    (Astro.props.class ? " " + Astro.props.class : "")}
>
  {
    tags.map((tag) => (
      <a
        href={make_href(tag)}
        class={
          "rounded-lg p-1 font-normal no-underline md:p-2 " +
          (tag === currTag ? "bg-base-focus" : "hover:bg-base-focus")
        }
      >
        <span class="text-primary-content">#</span>
        <span class="text-base-content">{tag}</span>
      </a>
    ))
  }
</nav>
