---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"a">;
const { href } = Astro.props;

const classBase =
  "rounded-lg leading-tight w-max text-xs md:text-sm px-4 py-2 uppercase text-base-icontent bg-primary-content hover:bg-primary-focus select-none";
const className = Astro.props.class
  ? classBase + " " + Astro.props.class
  : classBase;
---

<a {href} rel="prefetch" class={className}>
  <slot />
</a>
