---
import Linkedin from "@icons/Linkedin.astro";
import Github from "@icons/Github.astro";
import Mail from "@icons/Mail.astro";
import Gitlab from "@icons/Gitlab.astro";
import Rss from "@icons/Rss.astro";
import Logo from "@icons/Logo.astro";
import X from "@icons/X.astro";
---

<footer
  class="bg-primary-content fill-base-icontent stroke-base-icontent px-10 pb-24 lg:pb-40 pt-20 text-base-icontent"
  transition:persist
>
  <a
    class="inline-flex items-center hover:opacity-50"
    href="/"
    aria-label="Logo"
  >
    <Logo
      class="fill-base-icontent h-9 stroke-base-icontent"
      width="auto"
      height="4vw"
    />
  </a>
  <nav class="flex gap-4 pb-4">
    {
      [
        { href: "/", content: "Blog" },
        { href: "/about", content: "About" },
      ].map(({ href, content }) => (
        <a
          rel="prefetch"
          {href}
          class="decoration-[6px] underline-offset-8 hover:opacity-50"
        >
          {content}
        </a>
      ))
    }
  </nav>
  <nav class="flex flex-wrap gap-6">
    <a
      href="https://www.linkedin.com/in/k2abduls"
      class="bg-inherit fill-inherit"
    >
      <Linkedin className="w-8 h-8 md:w-10 md:h-10 p-0 hover:opacity-50" />
    </a>
    <a
      href="mailto:kas2020@protonmail.com?subject=Contact me"
      class="bg-inherit fill-inherit"
    >
      <Mail className="w-8 h-8 md:w-10 md:h-10 p-0 hover:opacity-50" />
    </a>
    <a
      href="https://github.com/kas2020-commits"
      class="bg-inherit fill-inherit"
    >
      <Github className="w-8 h-8 md:w-10 md:h-10 p-0 hover:opacity-50" />
    </a>
    <a href="https://gitlab.com/kas-commits" class="bg-inherit fill-inherit">
      <Gitlab className="w-8 h-8 md:w-10 md:h-10 p-0 hover:opacity-50" />
    </a>
    <a href="https://twitter.com/ksamad2020" class="bg-inherit fill-inherit">
      <X className="w-8 h-8 md:w-10 md:h-10 p-0 hover:opacity-50" />
    </a>
    <a href={Astro.site + "rss.xml"} class="bg-inherit fill-inherit">
      <Rss className="w-8 h-8 md:w-10 md:h-10 p-0 hover:opacity-50" />
    </a>
  </nav>
  <p class="mt-4 text-xs sm:text-sm">
    © 2022-2024 {import.meta.env.AUTHOR}. All Rights Reserved.
  </p>
  <p class="text-xs sm:text-sm">
    Built with <a href="https://astro.build">{Astro.generator}</a>
  </p>
</footer>
