---
export interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<h1
  class={"mb-4 mx-auto text-4xl md:text-5xl lg:text-6xl font-black text-center " +
    className}
>
  <slot>Fallback Header</slot>
</h1>
