---
export interface Props {
  className?: string;
}
const { className = "" } = Astro.props;
---

<h2
  class={"text-lg mx-auto md:text-2xl font-bold my-4 md:my-8 text-opts " +
    className}
>
  <slot>Fallback Header</slot>
</h2>
