---
import Logo from "@components/icons/Logo.astro";
---

<header
  class="min-h-16 flex w-full select-none items-center justify-between border-b-0 border-black bg-primary-content px-4 py-5 text-base-icontent md:px-8"
  transition:persist
>
  <a class="flex items-center" href="/" aria-label="Logo">
    <Logo
      class="fill-base-icontent min-h-7 max-h-10 stroke-base-icontent"
      width="auto"
      height="4vw"
    />
  </a>
  <nav class="flex items-center gap-4 text-sm font-light md:gap-8 md:text-lg">
    {
      [
        { href: "/", content: "Blog" },
        { href: "/about", content: "About" },
      ].map(({ href, content }) => (
        <a
          rel="prefetch"
          {href}
          class="transition-opacity duration-150 ease-in-out hover:opacity-50"
        >
          {content}
        </a>
      ))
    }
  </nav>
</header>
