---
import ButtonLink from "@components/ButtonLink.astro";
export interface Props {
  title: string;
  description: string;
  button?: string;
  href: string;
  image: string;
}
const {
  title,
  description,
  button = "Learn More",
  href,
  image = "",
} = Astro.props;
---

<div class="card-compact card aspect-video bg-base-300">
  <figure>
    <img src={image} alt="Project Image" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      {title}
    </h2>
    <p class="card-body mb-2">{description}</p>
    <div class="card-actions justify-end">
      <ButtonLink {href}>{button}</ButtonLink>
    </div>
  </div>
</div>
