---
export interface Props {
  theme?: "dark" | "light";
  class?: string;
}
const darkTheme = "bg-base-content text-base-icontent";
const lightTheme = "bg-base-accent text-base-content";
const theme = Astro.props.theme === "dark" ? darkTheme : lightTheme;
---

<div
  class={"items-center rounded-lg font-medium " +
    theme +
    " " +
    (Astro.props.class ?? "")}
>
  <div class="flex h-7 items-center">
    <svg class="ml-3 h-3 w-3 fill-red-500">
      <circle cx="6" cy="6" r="6"></circle>
    </svg>
    <svg class="ml-2 h-3 w-3 fill-yellow-500">
      <circle cx="6" cy="6" r="6"></circle>
    </svg>
    <svg class="ml-2 h-3 w-3 fill-green-500">
      <circle cx="6" cy="6" r="6"></circle>
    </svg>
  </div>
  <slot />
</div>
