---
import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"svg">;
---

<svg
  viewBox="0 0 52 12"
  version="1.1"
  id="svg3"
  xmlns="http://www.w3.org/2000/svg"
  {...Astro.props}
>
  <defs id="defs1">
    <style id="style1">
      .a {
        fill: none;
        stroke-width: 3.2;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
    </style>
  </defs>
  <g id="g3" transform="matrix(0.16363636,0,0,0.16363636,0.57272728,1.4727273)">
    <circle class="a" cx="25.5" cy="22" r="2.9" id="circle1"></circle>
    <circle class="a" cx="24" cy="24" r="21.5" id="circle2"></circle>
    <path
      class="a"
      d="M 20.35,2.846 A 19.7132,19.7132 0 0 0 44.8,29.316"
      id="path2"></path>
    <path
      class="a"
      d="M 27.653,45.104 A 19.7356,19.7356 0 0 0 9.453,17.584 L 9.46,17.6 a 19.8015,19.8015 0 0 0 -6.25,1.05"
      id="path3"></path>
  </g>
  <text
    xml:space="preserve"
    style="font-size:6.2439px;stroke-width:0.0325203"
    x="10"
    y="7.7439003"
    id="text3"
    ><tspan
      id="tspan3"
      style="font-size:6.2439px;stroke-width:0.0325203"
      x="10"
      y="7.7439003">{import.meta.env.BLOG_TITLE}</tspan
    ></text
  >
</svg>
