---
import "@fontsource-variable/eb-garamond";
import "@fontsource-variable/eb-garamond/wght-italic.css";

import "@fontsource/dm-mono/300.css";
import "@fontsource/dm-mono/400.css";
import "@fontsource/dm-mono/500.css";

import "@fontsource/dm-mono/300-italic.css";
import "@fontsource/dm-mono/400-italic.css";
import "@fontsource/dm-mono/500-italic.css";

import "@fontsource/dm-sans/400.css";
import "@fontsource/dm-sans/500.css";
import "@fontsource/dm-sans/700.css";

import "@fontsource/dm-sans/400-italic.css";
import "@fontsource/dm-sans/500-italic.css";
import "@fontsource/dm-sans/700-italic.css";

import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";

import { ViewTransitions } from "astro:transitions";

export interface Props {
  title?: string;
  description?: string;
  author?: string;
  keywords?: string[];
  mainClass?: string;
}

const {
  title = import.meta.env.AUTHOR,
  description,
  author = import.meta.env.AUTHOR,
  keywords,
  mainClass,
} = Astro.props;

const _mainBase =
  "container mx-auto my-5 flex-grow justify-start px-4 md:px-8 lg:px-10";
const _mainClass = mainClass ? mainClass + " " + _mainBase : _mainBase;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/svg" href="/favicon.svg" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/favicon.svg" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />

    <title>{title}</title>
    <meta name="author" content={author} />
    {description && <meta name="description" content={description} />}
    {keywords && <meta name="keywords" content={keywords.join(", ")} />}

    <ViewTransitions />
  </head>

  <body
    class="flex h-full flex-col bg-base-100 text-cprose-body selection:bg-primary-focus selection:text-base-icontent"
  >
    <Header />
    <main class={_mainClass}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
